@import 'base.less';
@app-content-bg: #b2c2e0;
body {
  margin-top: 50px;
  margin-bottom: 20px;
}

.app-content h2 {
  text-align: center;
}

.navbar-brand {
  font-size: 1.6em;
}

.navbar-brand .brand-image {
  display: inline-block;
  height: 1.1em;
  width: auto;
  padding-right: 6px;
  margin-top: -4px;
}
