table {
    width: 1650px;
    border-spacing: 0px;
    border-collapse: collapse;
}

tfoot, thead {
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
}

th, td {
    padding: 2px;
    margin: 0px;
    border: 1px solid #000;
    width: 150px;
}

td .rank {
    text-align: left;
    font-style: italic;
}

td .team {
    display: inline-block;
    text-align: center;
    color: #0C0;
}
